@page "/testdialog"

@using XeppIT.ZoneElectrical.Rolodex.Shared
@using XeppIT.ZoneElectrical.Unclassified
@using XeppIT.ZoneElectrical.Rolodex.Addresses.Model
@inject NavigationArgs NavigationArgs
<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Address List</CardTitle>
            </CardHeader>
            <CardBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Enter name" Text="@tempAddress.Name" />
                </Field>
                <Field>
                    <FieldLabel>Street</FieldLabel>
                    <TextEdit Placeholder="Enter street" />
                </Field>
                <Field>
                    <FieldLabel>Town</FieldLabel>
                    <TextEdit Placeholder="Enter town" />
                </Field>
                <Field>
                    <FieldLabel>Postcode</FieldLabel>
                    <TextEdit Placeholder="Enter postcode" />
                </Field>
            </CardBody>
            <CardFooter>
                <Button @onclick="Save">Raaaaaaa</Button>
            </CardFooter>
        </Card>
    </Column>
</Row>


@code{
    //[Parameter] public string ReturnUrl { get; set; }

    Address tempAddress = new Address();

    protected override void OnInitialized()
    {
        if (NavigationArgs.Context != null)
        {
            tempAddress = (Address) NavigationArgs.Context;
        }
    }

    private void Save()
    {
        NavigationArgs.NavigateTo(NavigationArgs.ReturnUrl);
    }

}