@using XeppIT.ZoneElectrical.Identity.Services
@inject AdminIdentityService AdminIdentityService
@inject DialogService DialogService

<div class="container-fluid">
    <div class="row mb-3">
        <label for="NewPassword" class="form-check-label">New Password</label>
        <input id="NewPassword" class="form-control mb-3" type="text" aria-label="New Password" @bind-value="@_newPassword">
    </div>
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary" @onclick="() => Save()">Save</button>
        <button type="button" class="btn btn-secondary ml-1" @onclick="() => Cancel()">Cancel</button>
    </div>
</div>

@code {
    [Parameter] public ApplicationUser UserToResetPassword { get; set; }

    string _newPassword = "";

    async void Save()
    {
        await AdminIdentityService.ResetUserPassword(UserToResetPassword, _newPassword);
        DialogService.Close();
    }

    void Cancel()
    {
        DialogService.Close();
    }
}
